MDOP_MYSQL_IMAGE=mysql:8.4.10
MDOP_MYSQL_CONTAINER_NAME=mdop-mysql
MDOP_MYSQL_PORT=3306
MDOP_MYSQL_DATABASE=mdop
MDOP_MYSQL_USER=mdop_app
MDOP_MYSQL_PASSWORD=replace_with_local_password
MDOP_MYSQL_ROOT_PASSWORD=replace_with_local_root_password
MDOP_TIME_ZONE=Asia/Shanghai
